* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  box-sizing: border-box;
  height: -webkit-fill-available;
}

body {
  font-family: "Fredoka One", cursive, "Montserrat", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* GENERAL ELEMENTS */
.nav-title {
  padding: 10px;
  font-size: 35px;
}
.section {
  padding: 15em 3em;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.container {
  padding: 3% 5%;
}

.card-header {
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.69em 0 rgba(0, 0, 0, 0.3);
}
.link-details {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  padding-bottom: 45%;
}

.link-area {
  background: linear-gradient(
    360deg,
    rgba(255, 136, 144, 1) 0%,
    rgba(240, 162, 167, 1) 100%
  );
  border-radius: 0.25em;
  font-size: 17px;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 0 0.25em 0.35em 0.05em rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
}

li {
  margin: 3em 0;
  align-content: center;
}

hr {
  opacity: 0.2;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
  opacity: 0.7;
}

.link-btns {
  border-radius: 2em;
  font-family: "Fredoka One", cursive, "Playfair Display", "Didot";
  font-size: 20px;
  padding: 0.69em;
  box-shadow: 0 0.25em 0.35em 0.05em rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  background-color: #4bbb7d;
  color: seashell;
  border: none;
}

.link-btns:hover {
  transform: scale(1.1);
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .second-header {
    font-size: 25px;
  }

  .blurb {
    font-size: 13px;
  }
  .link-btns {
    font-size: 20px;
  }
  .link-details {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }

  li {
    margin: 2em;
  }

  hr {
    opacity: 0;
  }
  .second-header {
    opacity: 0;
  }

  .blurb {
    font-size: 13px;
  }
  .link-btns {
    font-size: 12px;
    margin: none;
  }

  .link-details {
    margin: none;
    top: 45%;
    left: 50%;
    width: 100%;
  }
}

/* Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .link-btns {
      background-color: seashell;
      color: rgba(255, 120, 149, 1);
      font-size: 12px;
    }
  }
}

/* Safari 10.1 */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
    .link-btns {
      background-color: seashell;
      color: rgba(255, 120, 149, 1);
      font-size: 12px;
    }
  }
}

/* Safari 6.1-10.0 (but not 10.1) */
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  .link-btns {
    background-color: seashell;
    color: rgba(255, 120, 149, 1);
    font-size: 12px;
  }
}
